{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


    <!-- Masthead-->
    <div class="masthead">
        <div class="container">
            <div class="masthead-subheading">{{ page.title }}</div>
            <div class="masthead-heading text-uppercase">{{ page.hero_text }}</div>
            <a class="btn btn-outline-light btn-xl text-uppercase" href="#mission">
                {{ page.hero_cta }}
            </a>
        </div>
    </div>


    <!-- Mission Statement-->
    <section class="page-section" id="mission"></section>
    <div class="container my-5">
        <div class="row my-5">
    <!-- Statement Text-->
            <div class="col-lg-9">
                <div class="container">
                    <h1>{{ page.mission_heading }}</h1>
                    <p>{{ page.mission_statement }}</p>
                </div>
            </div>
    <!-- Join Us Card-->
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ page.card_title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ page.card_subtitle }}</h6>
                        <p class="card-text">{{ page.card_text }}</p>
                        {% if page.card_button_link %}
                            <a href="{% pageurl page.card_button_link %}" class="card-link">
                                {{ page.card_button_text }}
                            </a>
                        {% endif %}
                    </div>
                </div>    
            </div>
        </div>
    </div>


    <!-- Carousel-->
    <div id="photoSlideshow" class="px-5 carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#photoSlideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#photoSlideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#photoSlideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            {% image page.specific.first_slide_image width-1000 as my_image %}
                <img src="{{ my_image.url }}" class="rounded d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ page.first_slide_label }}</h5>
                    <p>{{ page.first_slide_description }}</p>
                </div>
            </div>
            <div class="carousel-item">
            {% image page.specific.second_slide_image width-1000 as my_image %}
                <img src="{{ my_image.url }}" class="rounded d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ page.second_slide_label }}</h5>
                    <p>{{ page.second_slide_description }}</p>
                </div>
            </div>
            <div class="carousel-item">
            {% image page.specific.third_slide_image width-1000 as my_image %}
                <img src="{{ my_image.url }}" class="rounded d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ page.third_slide_label }}</h5>
                    <p>{{ page.third_slide_description }}</p>
                </div>
            </div>
        </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#photoSlideshow" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#photoSlideshow" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  {{ page.body|richtext }}
{% endblock content %}